@{
    ViewData["Title"] = "Index";
}
@using Microsoft.AspNetCore.Http

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="jumbotron">@Context.Session.GetString("FullName") Hoş geldiniz.</div>
        </div>
    </div>
</div>

