@model Advert 
@{
    ViewData["Title"] = "ImageCreate";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">

            <div class="col-md-4">
                <div class="form-group">



                    <form method="post"  enctype="multipart/form-data" asp-antiforgery="true">
                       
                        <input type="hidden" asp-for="AdvertId" />

                        <input type="file" asp-for="Image" multiple />
                        <br />
                        <button type="submit" class="btn btn-warning">Resimleri Ekle</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


